body {
    background-color: black ;
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Noto Serif', serif;
    margin-top: 2%;
    background-color: #424874;
}


/* Nav-bar */

.nav-bar {
    margin-top: 15%;
    position: fixed;
    top: 3%;
    left: 0;
    width: 10%;
}

.BlocProfil {
    padding: 2%;
}

.BlocExperience {
    padding: 2%;
}

.BlocEducation {
    padding: 2%;
}

.BlocProjet {
    padding: 2%;
}

.BlocCompetences {
    padding: 2%;
}

.BlocDivers {
    padding: 2%;
}

.BlocContact {
    padding: 2%;
}

.TitreContact,
.TitreDivers,
.TitreCompetences,
.TitreProjet,
.TitreEducation,
.TitreProfil,
.TitreExperience {
    color: midnightblue
}

.TitreContact:hover,
.TitreDivers:hover,
.TitreCompetences:hover,
.TitreProjet:hover,
.TitreEducation:hover,
.TitreProfil:hover:hover,
.TitreExperience:hover {
    color: firebrick;
}


/* Début de la page OnePage Centrée */

.Container {
    margin: 0 auto;
    width: 80%;
}


/* Image de Profil */

.BlocImageProfil {
    padding: 2%;
}

.PhotoProfil {
    width: 25%;
}

.borderProfil {
    border: solid 3px;
    border-radius: 150px;
}

.PhotoProfil:hover {
    border-radius: 0;
}

.BlocForma,
.BlocDiplome,
.BlocExp,
.BlocProj {
    margin-top: 5%;
}


/* Partie Contact */

.linkedin {
    color: blue;
}

.githubColor {
    color: rgb(0, 153, 255);
}


/* Progress bar (Page Compétence)*/

.container {
    content: "";
    display: table;
    clear: both;
}

.light-grey {
    color: rgb(19, 7, 187);
    background-color: #a6b1e1;
}

.round {
    border-radius: 4px;
}

.blue {
    color: rgb(25, 0, 255);
    background: linear-gradient(45deg, black, white);
}


/* Différentes Tailles Texte */

.size10 {
    font-size: 10px;
}

.size20 {
    font-size: 20px;
}

.size25 {
    font-size: 25px;
}

.size30 {
    font-size: 30px;
}

.size40 {
    font-size: 40px;
}

.size50 {
    font-size: 50px;
}

.sizeIcon {
    font-size: 100px;
}

.macOS {
    width: 7%;
}


/* class des couleurs */

.colorText {
    color: #f4eeff;
}

.colorRed {
    color:#a6b1e1;
}

.colorBlue {
    color: blue
}

.colorYellow {
    color: yellow
}

.colorOrange {
    color: orange
}

.colorPurple {
    color:#dcd6f7;
}


/* Taille img MySql */

.sizeDefault {
    width: 10%;
}


/* Margin */

.marginLeft {
    margin-left: 50px;
}

.marginTop {
    margin-top: 15%;
}

.marginTop10 {
    margin-top: 10%;
}

.marginAuto {
    margin: 0 auto;
}

.marginBot {
    margin-bottom: 5%;
}


/* Autre */

a {
    text-decoration: none;
}

.center {
    text-align: center;
}

.listStyleNone {
    list-style-type: none;
}


/* Flèche pour remonter en haut de la page + Copyright */

.logoRight {
    position: fixed;
    bottom: 0%;
    right: 0;
    width: 10%;
    color: black;
}

.copyright {
    text-align: center;
}


/* Menu Hamburger */

#menuToggle {
    display: block;
    position: fixed;
    margin-top: 15%;
    margin-left: 0.5%;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #c26565;
}


/*block invisible au dessus du hamburger*/

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 2%;
    left: 2%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}


/*design du hamburger*/

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(0, 0, 0);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), backgrounds cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


/*transformation du hamburger en croix*/

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}


/*on rend invisible la barre du milieu*/

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


/*finalisation de la  croix*/

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


/*definition que le menu est absolue*/

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}


/*transition du texte*/

#menuToggle input:checked~ul {
    transform: none;
}

@media (max-width: 980px) {
    #menu {
        background: lightgrey;
    }
    .PhotoProfil {
        width: 50%;
    }
    .logoRight {
        position: fixed;
        bottom: 15%;
        left: 0.5%;
        font-size: 30px;
    }
    .copyright {
        text-align: center;
    }
    .Profil {
        margin-top: 20%;
    }
}
/*etoiles*/
  
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1545px 1649px #FFF , 469px 780px #FFF , 87px 1326px #FFF , 111px 970px #FFF , 1119px 1685px #FFF , 1978px 1320px #FFF , 443px 1927px #FFF , 574px 881px #FFF , 1801px 1086px #FFF , 1573px 1456px #FFF , 825px 1287px #FFF , 1835px 599px #FFF , 1969px 193px #FFF , 435px 1648px #FFF , 1334px 450px #FFF , 705px 1156px #FFF , 1996px 283px #FFF , 908px 1180px #FFF , 1776px 464px #FFF , 441px 573px #FFF , 1858px 1882px #FFF , 1578px 275px #FFF , 559px 564px #FFF , 1813px 226px #FFF , 1236px 480px #FFF , 322px 942px #FFF , 211px 173px #FFF , 1577px 1413px #FFF , 1339px 933px #FFF , 1045px 1635px #FFF , 1458px 579px #FFF , 385px 1046px #FFF , 15px 597px #FFF , 138px 1070px #FFF , 1707px 952px #FFF , 1994px 1223px #FFF , 556px 1755px #FFF , 1249px 52px #FFF , 975px 449px #FFF , 156px 134px #FFF , 279px 944px #FFF , 1215px 850px #FFF , 803px 1821px #FFF , 751px 339px #FFF , 1385px 641px #FFF , 1362px 460px #FFF , 1294px 1632px #FFF , 1043px 119px #FFF , 1815px 378px #FFF , 1669px 47px #FFF , 1207px 1248px #FFF , 1289px 525px #FFF , 943px 1670px #FFF , 795px 1088px #FFF , 277px 1424px #FFF , 586px 835px #FFF , 873px 780px #FFF , 427px 727px #FFF , 549px 1371px #FFF , 890px 955px #FFF , 1249px 1390px #FFF , 769px 777px #FFF , 562px 1763px #FFF , 1978px 924px #FFF , 317px 1269px #FFF , 1134px 14px #FFF , 1421px 1616px #FFF , 848px 1801px #FFF , 1346px 213px #FFF , 1719px 1827px #FFF , 419px 239px #FFF , 923px 691px #FFF , 492px 60px #FFF , 1771px 523px #FFF , 1036px 1901px #FFF , 426px 947px #FFF , 641px 1924px #FFF , 662px 1839px #FFF , 678px 495px #FFF , 87px 1893px #FFF , 558px 1629px #FFF , 45px 2px #FFF , 153px 1625px #FFF , 1524px 375px #FFF , 1067px 407px #FFF , 255px 516px #FFF , 1749px 822px #FFF , 1799px 810px #FFF , 241px 1545px #FFF , 904px 1744px #FFF , 1550px 1459px #FFF , 1963px 1610px #FFF , 1149px 569px #FFF , 1832px 1793px #FFF , 997px 177px #FFF , 1540px 1199px #FFF , 1251px 1506px #FFF , 1294px 124px #FFF , 556px 1040px #FFF , 97px 466px #FFF , 1091px 1930px #FFF , 947px 172px #FFF , 126px 489px #FFF , 1533px 1807px #FFF , 1637px 1042px #FFF , 129px 308px #FFF , 1456px 1124px #FFF , 1544px 968px #FFF , 35px 1899px #FFF , 1157px 1581px #FFF , 1922px 1958px #FFF , 1173px 1905px #FFF , 1131px 1772px #FFF , 1067px 837px #FFF , 1331px 1309px #FFF , 1764px 1459px #FFF , 1564px 955px #FFF , 1574px 813px #FFF , 733px 1351px #FFF , 1307px 1913px #FFF , 1159px 581px #FFF , 446px 152px #FFF , 1151px 1728px #FFF , 948px 664px #FFF , 8px 1075px #FFF , 1083px 1273px #FFF , 870px 1622px #FFF , 1185px 1748px #FFF , 951px 1255px #FFF , 1283px 1759px #FFF , 1425px 619px #FFF , 1960px 1550px #FFF , 1727px 966px #FFF , 655px 1724px #FFF , 261px 505px #FFF , 1225px 139px #FFF , 1767px 184px #FFF , 1959px 1784px #FFF , 1337px 1859px #FFF , 280px 1756px #FFF , 605px 379px #FFF , 1266px 1694px #FFF , 1913px 1017px #FFF , 936px 1369px #FFF , 1074px 969px #FFF , 686px 1828px #FFF , 1192px 1504px #FFF , 524px 1672px #FFF , 1854px 32px #FFF , 1104px 815px #FFF , 1286px 939px #FFF , 1702px 552px #FFF , 1926px 1180px #FFF , 1362px 698px #FFF , 1210px 1823px #FFF , 1513px 1405px #FFF , 1780px 1365px #FFF , 1522px 1478px #FFF , 524px 205px #FFF , 855px 1480px #FFF , 877px 1728px #FFF , 43px 840px #FFF , 1337px 981px #FFF , 1909px 486px #FFF , 1198px 1662px #FFF , 1293px 1320px #FFF , 1206px 825px #FFF , 1732px 1885px #FFF , 961px 1585px #FFF , 307px 52px #FFF , 21px 1035px #FFF , 1086px 1662px #FFF , 200px 1637px #FFF , 415px 1549px #FFF , 1468px 371px #FFF , 1534px 248px #FFF , 1790px 586px #FFF , 218px 1045px #FFF , 381px 969px #FFF , 1560px 5px #FFF , 1432px 1551px #FFF , 1443px 140px #FFF , 566px 1174px #FFF , 1311px 1425px #FFF , 1341px 1387px #FFF , 471px 377px #FFF , 5px 428px #FFF , 1489px 1686px #FFF , 551px 643px #FFF , 1819px 326px #FFF , 1135px 1346px #FFF , 1221px 1430px #FFF , 177px 1141px #FFF , 222px 1501px #FFF , 770px 901px #FFF , 335px 1087px #FFF , 1068px 1337px #FFF , 1142px 1953px #FFF , 1557px 1145px #FFF , 96px 1724px #FFF , 662px 963px #FFF , 735px 364px #FFF , 977px 1355px #FFF , 1108px 672px #FFF , 345px 408px #FFF , 770px 263px #FFF , 483px 1349px #FFF , 316px 641px #FFF , 158px 699px #FFF , 1547px 1252px #FFF , 937px 1282px #FFF , 1769px 1466px #FFF , 728px 1923px #FFF , 1892px 1106px #FFF , 1542px 261px #FFF , 232px 392px #FFF , 1073px 49px #FFF , 1880px 1225px #FFF , 1106px 193px #FFF , 1899px 738px #FFF , 323px 1057px #FFF , 1446px 1239px #FFF , 1797px 69px #FFF , 768px 1777px #FFF , 301px 499px #FFF , 758px 1114px #FFF , 1891px 322px #FFF , 1109px 1491px #FFF , 314px 336px #FFF , 316px 1810px #FFF , 420px 1921px #FFF , 920px 1291px #FFF , 1618px 657px #FFF , 1261px 912px #FFF , 544px 1912px #FFF , 1812px 42px #FFF , 118px 40px #FFF , 1944px 801px #FFF , 1358px 1462px #FFF , 683px 1227px #FFF , 447px 850px #FFF , 1804px 543px #FFF , 275px 1202px #FFF , 994px 295px #FFF , 1614px 1577px #FFF , 1684px 768px #FFF , 1951px 1767px #FFF , 1524px 10px #FFF , 352px 108px #FFF , 447px 1542px #FFF , 1995px 1450px #FFF , 1215px 1697px #FFF , 833px 729px #FFF , 1426px 646px #FFF , 631px 937px #FFF , 1659px 1944px #FFF , 905px 591px #FFF , 425px 1032px #FFF , 58px 28px #FFF , 1850px 1553px #FFF , 1090px 1189px #FFF , 762px 916px #FFF , 508px 137px #FFF , 579px 814px #FFF , 644px 332px #FFF , 869px 212px #FFF , 610px 567px #FFF , 1215px 1070px #FFF , 1052px 1790px #FFF , 1291px 552px #FFF , 1706px 179px #FFF , 1574px 1086px #FFF , 649px 1767px #FFF , 674px 1943px #FFF , 786px 1066px #FFF , 1609px 1322px #FFF , 1057px 982px #FFF , 1170px 1294px #FFF , 1730px 46px #FFF , 1509px 489px #FFF , 1730px 744px #FFF , 581px 1355px #FFF , 1501px 662px #FFF , 1626px 99px #FFF , 1356px 1509px #FFF , 1298px 481px #FFF , 1711px 286px #FFF , 1218px 1852px #FFF , 1013px 372px #FFF , 75px 448px #FFF , 1668px 329px #FFF , 812px 21px #FFF , 1378px 1009px #FFF , 1907px 643px #FFF , 347px 1004px #FFF , 307px 1170px #FFF , 1022px 1923px #FFF , 571px 1046px #FFF , 853px 693px #FFF , 194px 1342px #FFF , 1987px 553px #FFF , 1882px 117px #FFF , 1086px 1840px #FFF , 1726px 1034px #FFF , 942px 1459px #FFF , 1217px 1505px #FFF , 1194px 1067px #FFF , 264px 1247px #FFF , 1368px 324px #FFF , 546px 568px #FFF , 1042px 733px #FFF , 519px 1590px #FFF , 409px 904px #FFF , 1366px 629px #FFF , 340px 305px #FFF , 929px 1693px #FFF , 1722px 6px #FFF , 1624px 1143px #FFF , 1991px 9px #FFF , 318px 1462px #FFF , 1491px 1297px #FFF , 285px 88px #FFF , 1243px 1970px #FFF , 282px 763px #FFF , 1752px 415px #FFF , 61px 392px #FFF , 1284px 886px #FFF , 633px 1838px #FFF , 1368px 1648px #FFF , 1490px 1367px #FFF , 1914px 124px #FFF , 1133px 999px #FFF , 1364px 1845px #FFF , 939px 198px #FFF , 12px 1871px #FFF , 1638px 885px #FFF , 706px 1190px #FFF , 1907px 1180px #FFF , 1705px 1915px #FFF , 1099px 667px #FFF , 856px 1765px #FFF , 822px 1489px #FFF , 1452px 453px #FFF , 1366px 52px #FFF , 832px 1065px #FFF , 855px 571px #FFF , 580px 1762px #FFF , 1454px 1458px #FFF , 1991px 551px #FFF , 310px 234px #FFF , 58px 982px #FFF , 501px 1332px #FFF , 629px 589px #FFF , 331px 219px #FFF , 813px 1670px #FFF , 1808px 272px #FFF , 518px 245px #FFF , 927px 1702px #FFF , 1508px 394px #FFF , 979px 256px #FFF , 1732px 202px #FFF , 1759px 1159px #FFF , 801px 1378px #FFF , 1942px 865px #FFF , 1155px 678px #FFF , 1085px 1851px #FFF , 603px 973px #FFF , 1487px 1931px #FFF , 1747px 187px #FFF , 1466px 1446px #FFF , 439px 27px #FFF , 660px 851px #FFF , 1397px 573px #FFF , 1194px 515px #FFF , 1387px 1380px #FFF , 40px 1750px #FFF , 1306px 1183px #FFF , 1657px 752px #FFF , 694px 1910px #FFF , 1867px 414px #FFF , 581px 272px #FFF , 842px 175px #FFF , 1948px 1128px #FFF , 1991px 288px #FFF , 831px 746px #FFF , 634px 144px #FFF , 1900px 144px #FFF , 172px 1288px #FFF , 815px 1472px #FFF , 908px 735px #FFF , 808px 1541px #FFF , 1920px 648px #FFF , 26px 1897px #FFF , 1134px 777px #FFF , 757px 338px #FFF , 460px 153px #FFF , 1854px 1346px #FFF , 1648px 1580px #FFF , 153px 99px #FFF , 505px 1233px #FFF , 78px 1259px #FFF , 658px 957px #FFF , 1317px 539px #FFF , 1456px 1729px #FFF , 85px 1808px #FFF , 1883px 1345px #FFF , 433px 1643px #FFF , 881px 1219px #FFF , 1505px 1310px #FFF , 884px 1610px #FFF , 1358px 888px #FFF , 1107px 752px #FFF , 1781px 569px #FFF , 918px 1760px #FFF , 1059px 1567px #FFF , 15px 1312px #FFF , 72px 1719px #FFF , 720px 1603px #FFF , 223px 312px #FFF , 1677px 1641px #FFF , 351px 675px #FFF , 1655px 1606px #FFF , 1602px 560px #FFF , 419px 1516px #FFF , 1812px 71px #FFF , 1080px 1560px #FFF , 19px 663px #FFF , 682px 368px #FFF , 964px 1241px #FFF , 230px 79px #FFF , 811px 322px #FFF , 677px 1167px #FFF , 443px 1528px #FFF , 632px 963px #FFF , 142px 1514px #FFF , 1254px 1453px #FFF , 1387px 722px #FFF , 1830px 669px #FFF , 923px 544px #FFF , 1619px 247px #FFF , 1139px 1973px #FFF , 880px 76px #FFF , 1262px 762px #FFF , 1515px 269px #FFF , 1341px 1180px #FFF , 998px 715px #FFF , 1489px 406px #FFF , 1897px 813px #FFF , 1769px 1712px #FFF , 1062px 552px #FFF , 103px 1332px #FFF , 1704px 481px #FFF , 856px 1740px #FFF , 751px 101px #FFF , 824px 840px #FFF , 222px 1452px #FFF , 1258px 1925px #FFF , 693px 1453px #FFF , 1294px 1587px #FFF , 1416px 1905px #FFF , 290px 1193px #FFF , 707px 414px #FFF , 1522px 1644px #FFF , 835px 812px #FFF , 1560px 1174px #FFF , 641px 1638px #FFF , 1108px 1555px #FFF , 71px 381px #FFF , 147px 564px #FFF , 1597px 816px #FFF , 1064px 363px #FFF , 953px 385px #FFF , 949px 905px #FFF , 1783px 31px #FFF , 1681px 1808px #FFF , 1187px 1560px #FFF , 1418px 1903px #FFF , 1353px 1912px #FFF , 9px 840px #FFF , 51px 1624px #FFF , 973px 1916px #FFF , 1979px 572px #FFF , 577px 341px #FFF , 1663px 672px #FFF , 1526px 1507px #FFF , 1834px 577px #FFF , 725px 1200px #FFF , 1819px 923px #FFF , 325px 617px #FFF , 165px 157px #FFF , 366px 79px #FFF , 1582px 1867px #FFF , 541px 751px #FFF , 1318px 569px #FFF , 1410px 4px #FFF , 1682px 1377px #FFF , 607px 155px #FFF , 597px 1384px #FFF , 1154px 1703px #FFF , 390px 741px #FFF , 371px 1217px #FFF , 724px 1996px #FFF , 911px 784px #FFF , 1420px 1148px #FFF , 465px 503px #FFF , 1787px 1597px #FFF , 311px 713px #FFF , 154px 78px #FFF , 288px 47px #FFF , 1442px 292px #FFF , 671px 1457px #FFF , 744px 1345px #FFF , 1307px 1774px #FFF , 874px 534px #FFF , 1785px 7px #FFF , 118px 1475px #FFF , 540px 1101px #FFF , 548px 1847px #FFF , 957px 62px #FFF , 1239px 1249px #FFF , 1755px 425px #FFF , 1910px 327px #FFF , 178px 428px #FFF , 566px 1918px #FFF , 1217px 783px #FFF , 1788px 928px #FFF , 1112px 1155px #FFF , 1935px 1376px #FFF , 1299px 1157px #FFF , 1143px 1184px #FFF , 637px 567px #FFF , 1666px 212px #FFF , 1466px 994px #FFF , 72px 372px #FFF , 939px 983px #FFF , 993px 153px #FFF , 383px 878px #FFF , 1530px 875px #FFF , 702px 1326px #FFF , 20px 1612px #FFF , 529px 978px #FFF , 1205px 1026px #FFF , 454px 1324px #FFF , 694px 1995px #FFF , 1742px 1380px #FFF , 162px 996px #FFF , 804px 725px #FFF , 351px 1957px #FFF , 1335px 1187px #FFF , 1599px 1935px #FFF , 1993px 567px #FFF , 1405px 1326px #FFF , 1398px 1119px #FFF , 485px 529px #FFF , 1828px 931px #FFF , 868px 1676px #FFF , 298px 536px #FFF , 1824px 1334px #FFF , 1768px 982px #FFF , 802px 1995px #FFF , 1612px 1718px #FFF , 1980px 427px #FFF , 474px 1430px #FFF , 1743px 377px #FFF , 1265px 95px #FFF , 725px 90px #FFF , 716px 1691px #FFF , 1171px 1196px #FFF , 633px 867px #FFF , 1429px 1189px #FFF , 133px 879px #FFF , 1355px 1924px #FFF , 995px 695px #FFF , 895px 1988px #FFF , 1809px 1545px #FFF , 1628px 504px #FFF , 1067px 604px #FFF , 60px 1479px #FFF , 1574px 470px #FFF , 1931px 1544px #FFF , 145px 1432px #FFF , 597px 1036px #FFF , 1316px 690px #FFF , 343px 1739px #FFF , 1600px 970px #FFF , 1176px 460px #FFF , 1468px 607px #FFF , 84px 1430px #FFF , 400px 1011px #FFF , 1354px 1641px #FFF , 1395px 1978px #FFF , 193px 581px #FFF , 1963px 1069px #FFF , 416px 12px #FFF , 1312px 487px #FFF , 1095px 222px #FFF , 711px 194px #FFF , 1472px 1807px #FFF , 934px 1836px #FFF , 418px 834px #FFF , 590px 557px #FFF , 288px 1283px #FFF , 1890px 1675px #FFF , 1624px 1774px #FFF , 1721px 428px #FFF , 1612px 1667px #FFF , 1703px 1742px #FFF , 147px 174px #FFF , 119px 77px #FFF , 174px 1871px #FFF , 1436px 1786px #FFF , 620px 1840px #FFF , 155px 638px #FFF , 917px 733px #FFF , 1749px 222px #FFF , 516px 52px #FFF , 27px 285px #FFF , 155px 1433px #FFF , 1628px 158px #FFF , 1716px 889px #FFF , 291px 1893px #FFF , 99px 891px #FFF , 776px 1808px #FFF , 383px 1280px #FFF , 899px 1030px #FFF , 778px 1043px #FFF , 1287px 1113px #FFF , 602px 600px #FFF , 801px 676px #FFF , 1430px 1621px #FFF , 654px 241px #FFF , 694px 1176px #FFF , 1959px 1525px #FFF , 1274px 100px #FFF , 1129px 1571px #FFF , 258px 182px #FFF , 282px 74px #FFF , 9px 1210px #FFF , 1239px 9px #FFF , 1264px 1504px #FFF , 1911px 259px #FFF , 191px 1962px #FFF , 1360px 552px #FFF , 1008px 728px #FFF , 242px 1960px #FFF , 950px 1388px #FFF , 906px 359px #FFF , 788px 1740px #FFF , 151px 1586px #FFF , 580px 457px #FFF , 26px 30px #FFF , 347px 1789px #FFF , 1465px 1276px #FFF , 1916px 1549px #FFF , 1401px 1131px #FFF , 563px 1991px #FFF , 1984px 631px #FFF , 65px 254px #FFF , 78px 235px #FFF , 1558px 1757px #FFF , 88px 297px #FFF , 573px 633px #FFF , 387px 1045px #FFF , 144px 240px #FFF , 1312px 1372px #FFF , 10px 252px #FFF , 1719px 1083px #FFF , 1499px 750px #FFF , 405px 990px #FFF , 65px 1727px #FFF , 976px 1638px #FFF , 346px 220px #FFF , 1669px 1533px #FFF , 1230px 897px #FFF , 1077px 234px #FFF , 176px 1169px #FFF , 588px 1952px #FFF , 1884px 1198px #FFF , 1143px 323px #FFF , 23px 1610px #FFF , 834px 1578px #FFF , 484px 1447px #FFF , 1371px 555px #FFF , 1873px 1477px #FFF , 1426px 1159px #FFF , 1528px 842px #FFF , 1703px 1705px #FFF , 441px 983px #FFF , 1864px 191px #FFF , 389px 925px #FFF , 1047px 1642px #FFF , 1839px 293px #FFF , 1568px 529px #FFF , 1345px 584px #FFF , 779px 1504px #FFF , 745px 423px #FFF , 101px 1670px #FFF , 1931px 854px #FFF , 1282px 1658px #FFF , 1939px 531px #FFF;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1545px 1649px #FFF , 469px 780px #FFF , 87px 1326px #FFF , 111px 970px #FFF , 1119px 1685px #FFF , 1978px 1320px #FFF , 443px 1927px #FFF , 574px 881px #FFF , 1801px 1086px #FFF , 1573px 1456px #FFF , 825px 1287px #FFF , 1835px 599px #FFF , 1969px 193px #FFF , 435px 1648px #FFF , 1334px 450px #FFF , 705px 1156px #FFF , 1996px 283px #FFF , 908px 1180px #FFF , 1776px 464px #FFF , 441px 573px #FFF , 1858px 1882px #FFF , 1578px 275px #FFF , 559px 564px #FFF , 1813px 226px #FFF , 1236px 480px #FFF , 322px 942px #FFF , 211px 173px #FFF , 1577px 1413px #FFF , 1339px 933px #FFF , 1045px 1635px #FFF , 1458px 579px #FFF , 385px 1046px #FFF , 15px 597px #FFF , 138px 1070px #FFF , 1707px 952px #FFF , 1994px 1223px #FFF , 556px 1755px #FFF , 1249px 52px #FFF , 975px 449px #FFF , 156px 134px #FFF , 279px 944px #FFF , 1215px 850px #FFF , 803px 1821px #FFF , 751px 339px #FFF , 1385px 641px #FFF , 1362px 460px #FFF , 1294px 1632px #FFF , 1043px 119px #FFF , 1815px 378px #FFF , 1669px 47px #FFF , 1207px 1248px #FFF , 1289px 525px #FFF , 943px 1670px #FFF , 795px 1088px #FFF , 277px 1424px #FFF , 586px 835px #FFF , 873px 780px #FFF , 427px 727px #FFF , 549px 1371px #FFF , 890px 955px #FFF , 1249px 1390px #FFF , 769px 777px #FFF , 562px 1763px #FFF , 1978px 924px #FFF , 317px 1269px #FFF , 1134px 14px #FFF , 1421px 1616px #FFF , 848px 1801px #FFF , 1346px 213px #FFF , 1719px 1827px #FFF , 419px 239px #FFF , 923px 691px #FFF , 492px 60px #FFF , 1771px 523px #FFF , 1036px 1901px #FFF , 426px 947px #FFF , 641px 1924px #FFF , 662px 1839px #FFF , 678px 495px #FFF , 87px 1893px #FFF , 558px 1629px #FFF , 45px 2px #FFF , 153px 1625px #FFF , 1524px 375px #FFF , 1067px 407px #FFF , 255px 516px #FFF , 1749px 822px #FFF , 1799px 810px #FFF , 241px 1545px #FFF , 904px 1744px #FFF , 1550px 1459px #FFF , 1963px 1610px #FFF , 1149px 569px #FFF , 1832px 1793px #FFF , 997px 177px #FFF , 1540px 1199px #FFF , 1251px 1506px #FFF , 1294px 124px #FFF , 556px 1040px #FFF , 97px 466px #FFF , 1091px 1930px #FFF , 947px 172px #FFF , 126px 489px #FFF , 1533px 1807px #FFF , 1637px 1042px #FFF , 129px 308px #FFF , 1456px 1124px #FFF , 1544px 968px #FFF , 35px 1899px #FFF , 1157px 1581px #FFF , 1922px 1958px #FFF , 1173px 1905px #FFF , 1131px 1772px #FFF , 1067px 837px #FFF , 1331px 1309px #FFF , 1764px 1459px #FFF , 1564px 955px #FFF , 1574px 813px #FFF , 733px 1351px #FFF , 1307px 1913px #FFF , 1159px 581px #FFF , 446px 152px #FFF , 1151px 1728px #FFF , 948px 664px #FFF , 8px 1075px #FFF , 1083px 1273px #FFF , 870px 1622px #FFF , 1185px 1748px #FFF , 951px 1255px #FFF , 1283px 1759px #FFF , 1425px 619px #FFF , 1960px 1550px #FFF , 1727px 966px #FFF , 655px 1724px #FFF , 261px 505px #FFF , 1225px 139px #FFF , 1767px 184px #FFF , 1959px 1784px #FFF , 1337px 1859px #FFF , 280px 1756px #FFF , 605px 379px #FFF , 1266px 1694px #FFF , 1913px 1017px #FFF , 936px 1369px #FFF , 1074px 969px #FFF , 686px 1828px #FFF , 1192px 1504px #FFF , 524px 1672px #FFF , 1854px 32px #FFF , 1104px 815px #FFF , 1286px 939px #FFF , 1702px 552px #FFF , 1926px 1180px #FFF , 1362px 698px #FFF , 1210px 1823px #FFF , 1513px 1405px #FFF , 1780px 1365px #FFF , 1522px 1478px #FFF , 524px 205px #FFF , 855px 1480px #FFF , 877px 1728px #FFF , 43px 840px #FFF , 1337px 981px #FFF , 1909px 486px #FFF , 1198px 1662px #FFF , 1293px 1320px #FFF , 1206px 825px #FFF , 1732px 1885px #FFF , 961px 1585px #FFF , 307px 52px #FFF , 21px 1035px #FFF , 1086px 1662px #FFF , 200px 1637px #FFF , 415px 1549px #FFF , 1468px 371px #FFF , 1534px 248px #FFF , 1790px 586px #FFF , 218px 1045px #FFF , 381px 969px #FFF , 1560px 5px #FFF , 1432px 1551px #FFF , 1443px 140px #FFF , 566px 1174px #FFF , 1311px 1425px #FFF , 1341px 1387px #FFF , 471px 377px #FFF , 5px 428px #FFF , 1489px 1686px #FFF , 551px 643px #FFF , 1819px 326px #FFF , 1135px 1346px #FFF , 1221px 1430px #FFF , 177px 1141px #FFF , 222px 1501px #FFF , 770px 901px #FFF , 335px 1087px #FFF , 1068px 1337px #FFF , 1142px 1953px #FFF , 1557px 1145px #FFF , 96px 1724px #FFF , 662px 963px #FFF , 735px 364px #FFF , 977px 1355px #FFF , 1108px 672px #FFF , 345px 408px #FFF , 770px 263px #FFF , 483px 1349px #FFF , 316px 641px #FFF , 158px 699px #FFF , 1547px 1252px #FFF , 937px 1282px #FFF , 1769px 1466px #FFF , 728px 1923px #FFF , 1892px 1106px #FFF , 1542px 261px #FFF , 232px 392px #FFF , 1073px 49px #FFF , 1880px 1225px #FFF , 1106px 193px #FFF , 1899px 738px #FFF , 323px 1057px #FFF , 1446px 1239px #FFF , 1797px 69px #FFF , 768px 1777px #FFF , 301px 499px #FFF , 758px 1114px #FFF , 1891px 322px #FFF , 1109px 1491px #FFF , 314px 336px #FFF , 316px 1810px #FFF , 420px 1921px #FFF , 920px 1291px #FFF , 1618px 657px #FFF , 1261px 912px #FFF , 544px 1912px #FFF , 1812px 42px #FFF , 118px 40px #FFF , 1944px 801px #FFF , 1358px 1462px #FFF , 683px 1227px #FFF , 447px 850px #FFF , 1804px 543px #FFF , 275px 1202px #FFF , 994px 295px #FFF , 1614px 1577px #FFF , 1684px 768px #FFF , 1951px 1767px #FFF , 1524px 10px #FFF , 352px 108px #FFF , 447px 1542px #FFF , 1995px 1450px #FFF , 1215px 1697px #FFF , 833px 729px #FFF , 1426px 646px #FFF , 631px 937px #FFF , 1659px 1944px #FFF , 905px 591px #FFF , 425px 1032px #FFF , 58px 28px #FFF , 1850px 1553px #FFF , 1090px 1189px #FFF , 762px 916px #FFF , 508px 137px #FFF , 579px 814px #FFF , 644px 332px #FFF , 869px 212px #FFF , 610px 567px #FFF , 1215px 1070px #FFF , 1052px 1790px #FFF , 1291px 552px #FFF , 1706px 179px #FFF , 1574px 1086px #FFF , 649px 1767px #FFF , 674px 1943px #FFF , 786px 1066px #FFF , 1609px 1322px #FFF , 1057px 982px #FFF , 1170px 1294px #FFF , 1730px 46px #FFF , 1509px 489px #FFF , 1730px 744px #FFF , 581px 1355px #FFF , 1501px 662px #FFF , 1626px 99px #FFF , 1356px 1509px #FFF , 1298px 481px #FFF , 1711px 286px #FFF , 1218px 1852px #FFF , 1013px 372px #FFF , 75px 448px #FFF , 1668px 329px #FFF , 812px 21px #FFF , 1378px 1009px #FFF , 1907px 643px #FFF , 347px 1004px #FFF , 307px 1170px #FFF , 1022px 1923px #FFF , 571px 1046px #FFF , 853px 693px #FFF , 194px 1342px #FFF , 1987px 553px #FFF , 1882px 117px #FFF , 1086px 1840px #FFF , 1726px 1034px #FFF , 942px 1459px #FFF , 1217px 1505px #FFF , 1194px 1067px #FFF , 264px 1247px #FFF , 1368px 324px #FFF , 546px 568px #FFF , 1042px 733px #FFF , 519px 1590px #FFF , 409px 904px #FFF , 1366px 629px #FFF , 340px 305px #FFF , 929px 1693px #FFF , 1722px 6px #FFF , 1624px 1143px #FFF , 1991px 9px #FFF , 318px 1462px #FFF , 1491px 1297px #FFF , 285px 88px #FFF , 1243px 1970px #FFF , 282px 763px #FFF , 1752px 415px #FFF , 61px 392px #FFF , 1284px 886px #FFF , 633px 1838px #FFF , 1368px 1648px #FFF , 1490px 1367px #FFF , 1914px 124px #FFF , 1133px 999px #FFF , 1364px 1845px #FFF , 939px 198px #FFF , 12px 1871px #FFF , 1638px 885px #FFF , 706px 1190px #FFF , 1907px 1180px #FFF , 1705px 1915px #FFF , 1099px 667px #FFF , 856px 1765px #FFF , 822px 1489px #FFF , 1452px 453px #FFF , 1366px 52px #FFF , 832px 1065px #FFF , 855px 571px #FFF , 580px 1762px #FFF , 1454px 1458px #FFF , 1991px 551px #FFF , 310px 234px #FFF , 58px 982px #FFF , 501px 1332px #FFF , 629px 589px #FFF , 331px 219px #FFF , 813px 1670px #FFF , 1808px 272px #FFF , 518px 245px #FFF , 927px 1702px #FFF , 1508px 394px #FFF , 979px 256px #FFF , 1732px 202px #FFF , 1759px 1159px #FFF , 801px 1378px #FFF , 1942px 865px #FFF , 1155px 678px #FFF , 1085px 1851px #FFF , 603px 973px #FFF , 1487px 1931px #FFF , 1747px 187px #FFF , 1466px 1446px #FFF , 439px 27px #FFF , 660px 851px #FFF , 1397px 573px #FFF , 1194px 515px #FFF , 1387px 1380px #FFF , 40px 1750px #FFF , 1306px 1183px #FFF , 1657px 752px #FFF , 694px 1910px #FFF , 1867px 414px #FFF , 581px 272px #FFF , 842px 175px #FFF , 1948px 1128px #FFF , 1991px 288px #FFF , 831px 746px #FFF , 634px 144px #FFF , 1900px 144px #FFF , 172px 1288px #FFF , 815px 1472px #FFF , 908px 735px #FFF , 808px 1541px #FFF , 1920px 648px #FFF , 26px 1897px #FFF , 1134px 777px #FFF , 757px 338px #FFF , 460px 153px #FFF , 1854px 1346px #FFF , 1648px 1580px #FFF , 153px 99px #FFF , 505px 1233px #FFF , 78px 1259px #FFF , 658px 957px #FFF , 1317px 539px #FFF , 1456px 1729px #FFF , 85px 1808px #FFF , 1883px 1345px #FFF , 433px 1643px #FFF , 881px 1219px #FFF , 1505px 1310px #FFF , 884px 1610px #FFF , 1358px 888px #FFF , 1107px 752px #FFF , 1781px 569px #FFF , 918px 1760px #FFF , 1059px 1567px #FFF , 15px 1312px #FFF , 72px 1719px #FFF , 720px 1603px #FFF , 223px 312px #FFF , 1677px 1641px #FFF , 351px 675px #FFF , 1655px 1606px #FFF , 1602px 560px #FFF , 419px 1516px #FFF , 1812px 71px #FFF , 1080px 1560px #FFF , 19px 663px #FFF , 682px 368px #FFF , 964px 1241px #FFF , 230px 79px #FFF , 811px 322px #FFF , 677px 1167px #FFF , 443px 1528px #FFF , 632px 963px #FFF , 142px 1514px #FFF , 1254px 1453px #FFF , 1387px 722px #FFF , 1830px 669px #FFF , 923px 544px #FFF , 1619px 247px #FFF , 1139px 1973px #FFF , 880px 76px #FFF , 1262px 762px #FFF , 1515px 269px #FFF , 1341px 1180px #FFF , 998px 715px #FFF , 1489px 406px #FFF , 1897px 813px #FFF , 1769px 1712px #FFF , 1062px 552px #FFF , 103px 1332px #FFF , 1704px 481px #FFF , 856px 1740px #FFF , 751px 101px #FFF , 824px 840px #FFF , 222px 1452px #FFF , 1258px 1925px #FFF , 693px 1453px #FFF , 1294px 1587px #FFF , 1416px 1905px #FFF , 290px 1193px #FFF , 707px 414px #FFF , 1522px 1644px #FFF , 835px 812px #FFF , 1560px 1174px #FFF , 641px 1638px #FFF , 1108px 1555px #FFF , 71px 381px #FFF , 147px 564px #FFF , 1597px 816px #FFF , 1064px 363px #FFF , 953px 385px #FFF , 949px 905px #FFF , 1783px 31px #FFF , 1681px 1808px #FFF , 1187px 1560px #FFF , 1418px 1903px #FFF , 1353px 1912px #FFF , 9px 840px #FFF , 51px 1624px #FFF , 973px 1916px #FFF , 1979px 572px #FFF , 577px 341px #FFF , 1663px 672px #FFF , 1526px 1507px #FFF , 1834px 577px #FFF , 725px 1200px #FFF , 1819px 923px #FFF , 325px 617px #FFF , 165px 157px #FFF , 366px 79px #FFF , 1582px 1867px #FFF , 541px 751px #FFF , 1318px 569px #FFF , 1410px 4px #FFF , 1682px 1377px #FFF , 607px 155px #FFF , 597px 1384px #FFF , 1154px 1703px #FFF , 390px 741px #FFF , 371px 1217px #FFF , 724px 1996px #FFF , 911px 784px #FFF , 1420px 1148px #FFF , 465px 503px #FFF , 1787px 1597px #FFF , 311px 713px #FFF , 154px 78px #FFF , 288px 47px #FFF , 1442px 292px #FFF , 671px 1457px #FFF , 744px 1345px #FFF , 1307px 1774px #FFF , 874px 534px #FFF , 1785px 7px #FFF , 118px 1475px #FFF , 540px 1101px #FFF , 548px 1847px #FFF , 957px 62px #FFF , 1239px 1249px #FFF , 1755px 425px #FFF , 1910px 327px #FFF , 178px 428px #FFF , 566px 1918px #FFF , 1217px 783px #FFF , 1788px 928px #FFF , 1112px 1155px #FFF , 1935px 1376px #FFF , 1299px 1157px #FFF , 1143px 1184px #FFF , 637px 567px #FFF , 1666px 212px #FFF , 1466px 994px #FFF , 72px 372px #FFF , 939px 983px #FFF , 993px 153px #FFF , 383px 878px #FFF , 1530px 875px #FFF , 702px 1326px #FFF , 20px 1612px #FFF , 529px 978px #FFF , 1205px 1026px #FFF , 454px 1324px #FFF , 694px 1995px #FFF , 1742px 1380px #FFF , 162px 996px #FFF , 804px 725px #FFF , 351px 1957px #FFF , 1335px 1187px #FFF , 1599px 1935px #FFF , 1993px 567px #FFF , 1405px 1326px #FFF , 1398px 1119px #FFF , 485px 529px #FFF , 1828px 931px #FFF , 868px 1676px #FFF , 298px 536px #FFF , 1824px 1334px #FFF , 1768px 982px #FFF , 802px 1995px #FFF , 1612px 1718px #FFF , 1980px 427px #FFF , 474px 1430px #FFF , 1743px 377px #FFF , 1265px 95px #FFF , 725px 90px #FFF , 716px 1691px #FFF , 1171px 1196px #FFF , 633px 867px #FFF , 1429px 1189px #FFF , 133px 879px #FFF , 1355px 1924px #FFF , 995px 695px #FFF , 895px 1988px #FFF , 1809px 1545px #FFF , 1628px 504px #FFF , 1067px 604px #FFF , 60px 1479px #FFF , 1574px 470px #FFF , 1931px 1544px #FFF , 145px 1432px #FFF , 597px 1036px #FFF , 1316px 690px #FFF , 343px 1739px #FFF , 1600px 970px #FFF , 1176px 460px #FFF , 1468px 607px #FFF , 84px 1430px #FFF , 400px 1011px #FFF , 1354px 1641px #FFF , 1395px 1978px #FFF , 193px 581px #FFF , 1963px 1069px #FFF , 416px 12px #FFF , 1312px 487px #FFF , 1095px 222px #FFF , 711px 194px #FFF , 1472px 1807px #FFF , 934px 1836px #FFF , 418px 834px #FFF , 590px 557px #FFF , 288px 1283px #FFF , 1890px 1675px #FFF , 1624px 1774px #FFF , 1721px 428px #FFF , 1612px 1667px #FFF , 1703px 1742px #FFF , 147px 174px #FFF , 119px 77px #FFF , 174px 1871px #FFF , 1436px 1786px #FFF , 620px 1840px #FFF , 155px 638px #FFF , 917px 733px #FFF , 1749px 222px #FFF , 516px 52px #FFF , 27px 285px #FFF , 155px 1433px #FFF , 1628px 158px #FFF , 1716px 889px #FFF , 291px 1893px #FFF , 99px 891px #FFF , 776px 1808px #FFF , 383px 1280px #FFF , 899px 1030px #FFF , 778px 1043px #FFF , 1287px 1113px #FFF , 602px 600px #FFF , 801px 676px #FFF , 1430px 1621px #FFF , 654px 241px #FFF , 694px 1176px #FFF , 1959px 1525px #FFF , 1274px 100px #FFF , 1129px 1571px #FFF , 258px 182px #FFF , 282px 74px #FFF , 9px 1210px #FFF , 1239px 9px #FFF , 1264px 1504px #FFF , 1911px 259px #FFF , 191px 1962px #FFF , 1360px 552px #FFF , 1008px 728px #FFF , 242px 1960px #FFF , 950px 1388px #FFF , 906px 359px #FFF , 788px 1740px #FFF , 151px 1586px #FFF , 580px 457px #FFF , 26px 30px #FFF , 347px 1789px #FFF , 1465px 1276px #FFF , 1916px 1549px #FFF , 1401px 1131px #FFF , 563px 1991px #FFF , 1984px 631px #FFF , 65px 254px #FFF , 78px 235px #FFF , 1558px 1757px #FFF , 88px 297px #FFF , 573px 633px #FFF , 387px 1045px #FFF , 144px 240px #FFF , 1312px 1372px #FFF , 10px 252px #FFF , 1719px 1083px #FFF , 1499px 750px #FFF , 405px 990px #FFF , 65px 1727px #FFF , 976px 1638px #FFF , 346px 220px #FFF , 1669px 1533px #FFF , 1230px 897px #FFF , 1077px 234px #FFF , 176px 1169px #FFF , 588px 1952px #FFF , 1884px 1198px #FFF , 1143px 323px #FFF , 23px 1610px #FFF , 834px 1578px #FFF , 484px 1447px #FFF , 1371px 555px #FFF , 1873px 1477px #FFF , 1426px 1159px #FFF , 1528px 842px #FFF , 1703px 1705px #FFF , 441px 983px #FFF , 1864px 191px #FFF , 389px 925px #FFF , 1047px 1642px #FFF , 1839px 293px #FFF , 1568px 529px #FFF , 1345px 584px #FFF , 779px 1504px #FFF , 745px 423px #FFF , 101px 1670px #FFF , 1931px 854px #FFF , 1282px 1658px #FFF , 1939px 531px #FFF;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1773px 1007px #FFF , 888px 809px #FFF , 1702px 219px #FFF , 1647px 1982px #FFF , 1483px 1934px #FFF , 391px 1529px #FFF , 1005px 708px #FFF , 1256px 1940px #FFF , 287px 1430px #FFF , 832px 897px #FFF , 1795px 1412px #FFF , 1982px 479px #FFF , 1131px 137px #FFF , 1304px 1659px #FFF , 1085px 1754px #FFF , 955px 1193px #FFF , 1128px 865px #FFF , 26px 582px #FFF , 1691px 623px #FFF , 675px 852px #FFF , 695px 724px #FFF , 31px 978px #FFF , 907px 76px #FFF , 1223px 224px #FFF , 196px 1034px #FFF , 1413px 230px #FFF , 758px 725px #FFF , 481px 1872px #FFF , 1080px 626px #FFF , 1942px 380px #FFF , 1741px 1746px #FFF , 1836px 1131px #FFF , 714px 1946px #FFF , 283px 850px #FFF , 923px 1617px #FFF , 103px 1398px #FFF , 491px 1112px #FFF , 1288px 1831px #FFF , 1043px 1865px #FFF , 1032px 671px #FFF , 864px 407px #FFF , 1783px 1267px #FFF , 1165px 488px #FFF , 1941px 109px #FFF , 809px 1321px #FFF , 1649px 525px #FFF , 1772px 53px #FFF , 1372px 1608px #FFF , 732px 1774px #FFF , 449px 1715px #FFF , 1614px 880px #FFF , 363px 1884px #FFF , 797px 1818px #FFF , 1097px 545px #FFF , 1615px 1591px #FFF , 1849px 329px #FFF , 1518px 1976px #FFF , 745px 1408px #FFF , 143px 1995px #FFF , 655px 1546px #FFF , 1610px 466px #FFF , 1276px 402px #FFF , 1042px 1307px #FFF , 1798px 783px #FFF , 1512px 1106px #FFF , 1299px 657px #FFF , 50px 1562px #FFF , 242px 1929px #FFF , 680px 1096px #FFF , 1145px 1669px #FFF , 948px 1001px #FFF , 1px 1601px #FFF , 1208px 899px #FFF , 258px 672px #FFF , 734px 547px #FFF , 1833px 377px #FFF , 897px 272px #FFF , 747px 247px #FFF , 997px 991px #FFF , 317px 858px #FFF , 1063px 791px #FFF , 1017px 1012px #FFF , 386px 1309px #FFF , 274px 1574px #FFF , 1611px 1541px #FFF , 1819px 212px #FFF , 901px 718px #FFF , 1469px 780px #FFF , 952px 295px #FFF , 1205px 721px #FFF , 1188px 848px #FFF , 368px 1344px #FFF , 544px 1830px #FFF , 1905px 707px #FFF , 283px 834px #FFF , 1933px 982px #FFF , 1208px 1799px #FFF , 536px 204px #FFF , 449px 1755px #FFF , 78px 807px #FFF , 1795px 1088px #FFF , 1860px 1427px #FFF , 47px 1777px #FFF , 552px 1868px #FFF , 909px 481px #FFF , 1775px 1863px #FFF , 527px 1051px #FFF , 924px 1502px #FFF , 1929px 817px #FFF , 595px 43px #FFF , 957px 1365px #FFF , 249px 505px #FFF , 1485px 987px #FFF , 840px 227px #FFF , 487px 1674px #FFF , 450px 883px #FFF , 544px 670px #FFF , 1254px 1013px #FFF , 1801px 1421px #FFF , 354px 380px #FFF , 973px 1649px #FFF , 15px 1837px #FFF , 157px 16px #FFF , 1910px 119px #FFF , 24px 1210px #FFF , 314px 713px #FFF , 1081px 1218px #FFF , 101px 1170px #FFF , 76px 1866px #FFF , 1217px 1070px #FFF , 1965px 954px #FFF , 350px 514px #FFF , 715px 1829px #FFF , 1295px 542px #FFF , 610px 816px #FFF , 1678px 1129px #FFF , 14px 697px #FFF , 854px 1864px #FFF , 252px 1208px #FFF , 1114px 984px #FFF , 1506px 881px #FFF , 917px 1265px #FFF , 1889px 870px #FFF , 414px 40px #FFF , 1446px 12px #FFF , 968px 798px #FFF , 1534px 1247px #FFF , 419px 428px #FFF , 606px 727px #FFF , 1794px 1116px #FFF , 603px 984px #FFF , 1195px 1368px #FFF , 707px 50px #FFF , 110px 406px #FFF , 1747px 984px #FFF , 1840px 1891px #FFF , 1974px 1921px #FFF , 659px 764px #FFF , 1186px 661px #FFF , 442px 447px #FFF , 538px 342px #FFF , 434px 482px #FFF , 674px 695px #FFF , 1815px 635px #FFF , 321px 615px #FFF , 596px 1361px #FFF , 470px 45px #FFF , 446px 322px #FFF , 712px 997px #FFF , 1128px 1223px #FFF , 844px 1623px #FFF , 38px 1731px #FFF , 1111px 1862px #FFF , 74px 1423px #FFF , 464px 1042px #FFF , 946px 360px #FFF , 1073px 1687px #FFF , 1694px 566px #FFF , 1577px 714px #FFF , 154px 284px #FFF , 1123px 1797px #FFF , 1610px 1534px #FFF , 1181px 946px #FFF , 50px 1112px #FFF , 1672px 1985px #FFF , 928px 892px #FFF , 926px 265px #FFF , 1448px 1038px #FFF , 484px 201px #FFF , 546px 594px #FFF , 661px 1857px #FFF , 109px 1879px #FFF , 86px 1374px #FFF , 1945px 462px #FFF , 413px 1053px #FFF , 1109px 500px #FFF , 936px 946px #FFF , 181px 1400px #FFF , 997px 996px #FFF , 113px 1341px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1773px 1007px #FFF , 888px 809px #FFF , 1702px 219px #FFF , 1647px 1982px #FFF , 1483px 1934px #FFF , 391px 1529px #FFF , 1005px 708px #FFF , 1256px 1940px #FFF , 287px 1430px #FFF , 832px 897px #FFF , 1795px 1412px #FFF , 1982px 479px #FFF , 1131px 137px #FFF , 1304px 1659px #FFF , 1085px 1754px #FFF , 955px 1193px #FFF , 1128px 865px #FFF , 26px 582px #FFF , 1691px 623px #FFF , 675px 852px #FFF , 695px 724px #FFF , 31px 978px #FFF , 907px 76px #FFF , 1223px 224px #FFF , 196px 1034px #FFF , 1413px 230px #FFF , 758px 725px #FFF , 481px 1872px #FFF , 1080px 626px #FFF , 1942px 380px #FFF , 1741px 1746px #FFF , 1836px 1131px #FFF , 714px 1946px #FFF , 283px 850px #FFF , 923px 1617px #FFF , 103px 1398px #FFF , 491px 1112px #FFF , 1288px 1831px #FFF , 1043px 1865px #FFF , 1032px 671px #FFF , 864px 407px #FFF , 1783px 1267px #FFF , 1165px 488px #FFF , 1941px 109px #FFF , 809px 1321px #FFF , 1649px 525px #FFF , 1772px 53px #FFF , 1372px 1608px #FFF , 732px 1774px #FFF , 449px 1715px #FFF , 1614px 880px #FFF , 363px 1884px #FFF , 797px 1818px #FFF , 1097px 545px #FFF , 1615px 1591px #FFF , 1849px 329px #FFF , 1518px 1976px #FFF , 745px 1408px #FFF , 143px 1995px #FFF , 655px 1546px #FFF , 1610px 466px #FFF , 1276px 402px #FFF , 1042px 1307px #FFF , 1798px 783px #FFF , 1512px 1106px #FFF , 1299px 657px #FFF , 50px 1562px #FFF , 242px 1929px #FFF , 680px 1096px #FFF , 1145px 1669px #FFF , 948px 1001px #FFF , 1px 1601px #FFF , 1208px 899px #FFF , 258px 672px #FFF , 734px 547px #FFF , 1833px 377px #FFF , 897px 272px #FFF , 747px 247px #FFF , 997px 991px #FFF , 317px 858px #FFF , 1063px 791px #FFF , 1017px 1012px #FFF , 386px 1309px #FFF , 274px 1574px #FFF , 1611px 1541px #FFF , 1819px 212px #FFF , 901px 718px #FFF , 1469px 780px #FFF , 952px 295px #FFF , 1205px 721px #FFF , 1188px 848px #FFF , 368px 1344px #FFF , 544px 1830px #FFF , 1905px 707px #FFF , 283px 834px #FFF , 1933px 982px #FFF , 1208px 1799px #FFF , 536px 204px #FFF , 449px 1755px #FFF , 78px 807px #FFF , 1795px 1088px #FFF , 1860px 1427px #FFF , 47px 1777px #FFF , 552px 1868px #FFF , 909px 481px #FFF , 1775px 1863px #FFF , 527px 1051px #FFF , 924px 1502px #FFF , 1929px 817px #FFF , 595px 43px #FFF , 957px 1365px #FFF , 249px 505px #FFF , 1485px 987px #FFF , 840px 227px #FFF , 487px 1674px #FFF , 450px 883px #FFF , 544px 670px #FFF , 1254px 1013px #FFF , 1801px 1421px #FFF , 354px 380px #FFF , 973px 1649px #FFF , 15px 1837px #FFF , 157px 16px #FFF , 1910px 119px #FFF , 24px 1210px #FFF , 314px 713px #FFF , 1081px 1218px #FFF , 101px 1170px #FFF , 76px 1866px #FFF , 1217px 1070px #FFF , 1965px 954px #FFF , 350px 514px #FFF , 715px 1829px #FFF , 1295px 542px #FFF , 610px 816px #FFF , 1678px 1129px #FFF , 14px 697px #FFF , 854px 1864px #FFF , 252px 1208px #FFF , 1114px 984px #FFF , 1506px 881px #FFF , 917px 1265px #FFF , 1889px 870px #FFF , 414px 40px #FFF , 1446px 12px #FFF , 968px 798px #FFF , 1534px 1247px #FFF , 419px 428px #FFF , 606px 727px #FFF , 1794px 1116px #FFF , 603px 984px #FFF , 1195px 1368px #FFF , 707px 50px #FFF , 110px 406px #FFF , 1747px 984px #FFF , 1840px 1891px #FFF , 1974px 1921px #FFF , 659px 764px #FFF , 1186px 661px #FFF , 442px 447px #FFF , 538px 342px #FFF , 434px 482px #FFF , 674px 695px #FFF , 1815px 635px #FFF , 321px 615px #FFF , 596px 1361px #FFF , 470px 45px #FFF , 446px 322px #FFF , 712px 997px #FFF , 1128px 1223px #FFF , 844px 1623px #FFF , 38px 1731px #FFF , 1111px 1862px #FFF , 74px 1423px #FFF , 464px 1042px #FFF , 946px 360px #FFF , 1073px 1687px #FFF , 1694px 566px #FFF , 1577px 714px #FFF , 154px 284px #FFF , 1123px 1797px #FFF , 1610px 1534px #FFF , 1181px 946px #FFF , 50px 1112px #FFF , 1672px 1985px #FFF , 928px 892px #FFF , 926px 265px #FFF , 1448px 1038px #FFF , 484px 201px #FFF , 546px 594px #FFF , 661px 1857px #FFF , 109px 1879px #FFF , 86px 1374px #FFF , 1945px 462px #FFF , 413px 1053px #FFF , 1109px 500px #FFF , 936px 946px #FFF , 181px 1400px #FFF , 997px 996px #FFF , 113px 1341px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 60px 766px #FFF , 1616px 1435px #FFF , 683px 1028px #FFF , 1889px 959px #FFF , 462px 1885px #FFF , 482px 839px #FFF , 1803px 315px #FFF , 1559px 914px #FFF , 1709px 1603px #FFF , 1838px 356px #FFF , 1512px 1779px #FFF , 710px 1994px #FFF , 1995px 1491px #FFF , 1820px 1224px #FFF , 959px 1378px #FFF , 1534px 232px #FFF , 1876px 1861px #FFF , 186px 1339px #FFF , 1933px 1542px #FFF , 571px 305px #FFF , 1430px 1421px #FFF , 1944px 551px #FFF , 530px 809px #FFF , 1805px 1153px #FFF , 1145px 694px #FFF , 214px 787px #FFF , 1032px 675px #FFF , 1395px 585px #FFF , 925px 1597px #FFF , 78px 1786px #FFF , 862px 881px #FFF , 88px 247px #FFF , 1752px 958px #FFF , 1219px 860px #FFF , 1878px 180px #FFF , 381px 1130px #FFF , 26px 4px #FFF , 116px 583px #FFF , 1939px 1207px #FFF , 1693px 1614px #FFF , 32px 620px #FFF , 77px 728px #FFF , 1108px 78px #FFF , 71px 40px #FFF , 971px 1236px #FFF , 641px 1582px #FFF , 1380px 751px #FFF , 1098px 133px #FFF , 757px 383px #FFF , 1532px 616px #FFF , 1839px 527px #FFF , 1961px 56px #FFF , 1477px 756px #FFF , 973px 304px #FFF , 1715px 291px #FFF , 1358px 1056px #FFF , 1027px 682px #FFF , 61px 813px #FFF , 630px 784px #FFF , 1076px 1623px #FFF , 1549px 1342px #FFF , 680px 1906px #FFF , 198px 282px #FFF , 1680px 1885px #FFF , 628px 1573px #FFF , 1486px 15px #FFF , 1928px 68px #FFF , 8px 1292px #FFF , 209px 738px #FFF , 245px 584px #FFF , 1808px 370px #FFF , 1877px 1500px #FFF , 849px 1691px #FFF , 1947px 46px #FFF , 1166px 1783px #FFF , 418px 1477px #FFF , 1448px 1789px #FFF , 1929px 553px #FFF , 217px 1719px #FFF , 1016px 792px #FFF , 1632px 1693px #FFF , 1297px 1626px #FFF , 889px 1427px #FFF , 348px 1619px #FFF , 92px 732px #FFF , 1923px 1003px #FFF , 1188px 739px #FFF , 551px 1649px #FFF , 1118px 42px #FFF , 569px 370px #FFF , 1317px 463px #FFF , 1072px 1633px #FFF , 1886px 1898px #FFF , 1130px 35px #FFF , 950px 1770px #FFF , 1308px 329px #FFF , 1716px 847px #FFF , 498px 1801px #FFF , 264px 678px #FFF , 1857px 1916px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 60px 766px #FFF , 1616px 1435px #FFF , 683px 1028px #FFF , 1889px 959px #FFF , 462px 1885px #FFF , 482px 839px #FFF , 1803px 315px #FFF , 1559px 914px #FFF , 1709px 1603px #FFF , 1838px 356px #FFF , 1512px 1779px #FFF , 710px 1994px #FFF , 1995px 1491px #FFF , 1820px 1224px #FFF , 959px 1378px #FFF , 1534px 232px #FFF , 1876px 1861px #FFF , 186px 1339px #FFF , 1933px 1542px #FFF , 571px 305px #FFF , 1430px 1421px #FFF , 1944px 551px #FFF , 530px 809px #FFF , 1805px 1153px #FFF , 1145px 694px #FFF , 214px 787px #FFF , 1032px 675px #FFF , 1395px 585px #FFF , 925px 1597px #FFF , 78px 1786px #FFF , 862px 881px #FFF , 88px 247px #FFF , 1752px 958px #FFF , 1219px 860px #FFF , 1878px 180px #FFF , 381px 1130px #FFF , 26px 4px #FFF , 116px 583px #FFF , 1939px 1207px #FFF , 1693px 1614px #FFF , 32px 620px #FFF , 77px 728px #FFF , 1108px 78px #FFF , 71px 40px #FFF , 971px 1236px #FFF , 641px 1582px #FFF , 1380px 751px #FFF , 1098px 133px #FFF , 757px 383px #FFF , 1532px 616px #FFF , 1839px 527px #FFF , 1961px 56px #FFF , 1477px 756px #FFF , 973px 304px #FFF , 1715px 291px #FFF , 1358px 1056px #FFF , 1027px 682px #FFF , 61px 813px #FFF , 630px 784px #FFF , 1076px 1623px #FFF , 1549px 1342px #FFF , 680px 1906px #FFF , 198px 282px #FFF , 1680px 1885px #FFF , 628px 1573px #FFF , 1486px 15px #FFF , 1928px 68px #FFF , 8px 1292px #FFF , 209px 738px #FFF , 245px 584px #FFF , 1808px 370px #FFF , 1877px 1500px #FFF , 849px 1691px #FFF , 1947px 46px #FFF , 1166px 1783px #FFF , 418px 1477px #FFF , 1448px 1789px #FFF , 1929px 553px #FFF , 217px 1719px #FFF , 1016px 792px #FFF , 1632px 1693px #FFF , 1297px 1626px #FFF , 889px 1427px #FFF , 348px 1619px #FFF , 92px 732px #FFF , 1923px 1003px #FFF , 1188px 739px #FFF , 551px 1649px #FFF , 1118px 42px #FFF , 569px 370px #FFF , 1317px 463px #FFF , 1072px 1633px #FFF , 1886px 1898px #FFF , 1130px 35px #FFF , 950px 1770px #FFF , 1308px 329px #FFF , 1716px 847px #FFF , 498px 1801px #FFF , 264px 678px #FFF , 1857px 1916px #FFF;
  }
  
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }  


  

